@import url('https://fonts.googleapis.com/css?family=Chelsea+Market');

body {
    font-family: "Chelsea Market", cursive;
    font-size: 1.2em;
    color: blanchedalmond;
    background-color: midnightblue;
}

.wrapper {
    margin: 0;
    padding: 20px; 
}

#logo {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    opacity: 0.7;
}

.container {
    text-align: center;
}

.instructions, .counters {
    border: 6px white dashed;
    margin-top: 3px;
    margin-bottom: 3px; 
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.counters h4 {
    display: inline;
}

#gameimg {
    max-width: 350px;
}